<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Awesome Journeys</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">

	</head>

	<body>
		<div class="container">
			<div class="navbar ">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="/">Awesome Journeys</a>
						<ul class="nav">
							<li class="active">
								<a href="/">Home</a>
							</li>
						</ul>

						<ul class="nav pull-right">
							<li>
								<p class="navbar-text">
									<% if session[:user] %>
									Logged as <strong><%= session[:user].name %></strong>
									<% else %>
									Not logged
									<% end %>
								</p>
							</li>
							<li class="divider-vertical"></li>
							<li>
								<a href="/aut/logout">Logout</a>
							</li>
						</ul>

					</div>
				</div>
			</div>
			
			<% if session[:error] %>
			<div class="alert alert-error">
				<strong>Error!</strong> <%= show_flash :error %>
			</div>
			<% end %>
			
			<%= yield %>
		</div>
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js">\x3C/script>')</script>
	</body>
</html>
