<h2>Search Itinerary or Journey</h2>
<form method="post" class="well form-search">
  <input type="text" id="search" name="search" class="span10 input-medium search-query" placeholder="Inserire opzioni di ricerca">
  <button type="submit" class="btn">Search</button>
</form>

<% if @results %>
<div class="row">
  <div class="span12">
    <h2>Journeys</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>From</th>
          <th>To</th>
        </tr>
      </thead>
      
      <tbody>
        <% @results.journeys.each do |journey| %>
        <tr>
          <td><%= journey.name %></td>
          <td><%= journey.start %></td>
          <td><%= journey.end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<div class="row">
  <div class="span12">
      <h2>Itineraries</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Creator</th>
          <th>Commands</th>
        </tr>
      </thead>
      
      <tbody>
        <% @results.itineraries.each do |itinerary| %>
        <tr>
          <td><%= itinerary.name %></td>
          <td><%= itinerary.user.name %></td>
          <td>
            <a class="btn btn-small btn-primary" href="/itinerary/instantiate/<%= itinerary.id %>">Instantiate</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>
<% end %>