<h2>Search Stays</h2>
<form method="post" class="well form-search">
  <input type="text" id="search" name="search" class="span10 input-medium search-query" placeholder="Inserire opzioni di ricerca">
  <button type="submit" class="btn">Search</button>
</form>

<% if @results %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
    <tr>
      <td><%= result.name %></td>
      <td><%= result.start_location.name %></td>
      <td><%= result.description %></td>
      <td><a class="btn" href="/stay/select/<%= result.id %>">Add</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>