<div class="row">
  <div class="span12">
    <h2>Possible activities</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Description</th>
          <th>Cost</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.name %></td>
          <td><%= activity.location.name %></td>
          <td><%= activity.description %></td>
          <td><%= activity.cost_to_s %>&#8364;</td>
          <td>
            <a class="btn btn-small btn-warning" href="/stay/addactivity/<%= activity.id %>">Add</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<a class="btn btn-warning" href="<%= "/stay/edit" %>">Back</a>