<div class="row">
  <div class="span12">
    <h2>Stay Details</h2>
    
    <dl class="dl-horizontal">
      <dt>Name</dt>
        <dd><%= @stay.name %></dd>
      <dt>Location</dt>
        <dd><%= @stay.start_location.name %><%= (@stay.start_location.name == @stay.end_location.name) ? "": " - #{@stay.end_location.name}" %></dd>
      <dt>Cost</dt>
        <dd><%= @stay.cost_to_s %>€</dd>
      <dt>Duration</dt>
        <dd><%= @stay.duration.to_days %> days</dd>
      <% if @stay.stay_template.kind_of? AwesomeJourneys::Accomodation %>
      <dt>Classification</dt>
        <dd><%= @stay.stay_template.classification.nil? ? '&nbsp' : @stay.stay_template.classification %></dd>
      <% end %>
      <dt>Description</dt>
        <dd><%= @stay.description %></dd>
    </dl>
  
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Activities</h2>
    <a class="btn btn-primary" href="/stay/manageactivity">Manage activity</a>
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Cost</th>
        </tr>
      </thead>
      
      <tbody>
        <% @stay.activities.each do |activity| %>
        <tr>
          <td><%= activity.name %></td>
          <td><%= activity.description %></td>
          <td><%= activity.cost_to_s %>€</td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<a class="btn btn-warning" href="/stay/save">Add stay</a>