<div class="row">
  <div class="span12">
    <h2>Your Account</h2>
    
    <dl class="dl-horizontal">
      <dt>Name</dt>
        <dd><%= @user.name %></dd>
      <dt>Account type</dt>
        <dd><%= @user.type.to_s.split('::')[1] %></dd>
    </dl>
  
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Your Journeys</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>From</th>
          <th>To</th>
        </tr>
      </thead>
      
      <tbody>
        <% @user.journeys.each do |journey| %>
        <tr>
          <td><%= journey.name %></td>
          <td><%= journey.start.strftime("%d/%m/%Y") %></td>
          <td><%= journey.end.strftime("%d/%m/%Y") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<div class="row">
  <div class="span12">
      <h2>Your Itineraries</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Creator</th>
          <th>Status</th>
          <th>Commands</th>
        </tr>
      </thead>
      
      <tbody>
        <% @user.itineraries.each do |itinerary| %>
        <tr>
          <td><%= itinerary.name %></td>
          <td><%= itinerary.user.name %></td>
          <td><%= itinerary.status %></td>
          <td>
            <a class="btn btn-small btn-warning" href="/itinerary/edit/<%= itinerary.id %>">Edit</a>
            <a class="btn btn-small btn-danger" href="/itinerary/delete/<%= itinerary.id %>">Delete</a>
            <a class="btn btn-small btn-primary" href="/itinerary/instantiate/<%= itinerary.id %>">Instantiate</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<div class="row">
  <div class="span12">
      <a class="btn btn-large btn-primary" href="/itinerary/create">Add itinerary</a>
      <a class="btn btn-large" href="/search/itineraryorjourney">Search itinearary or Journey</a>
  </div>
</div>