<div class="row">
  <div class="span4 offset4">
    <form class="well" action="/aut/login" method="post">
      
      <label for="username">Username</label>
        <input type="text" name="username" id="username">
      
      <label for="password">Password</label>
        <input type="password" name="password" id="password">
        
      <button class="btn btn-primary" type="submit">Sign in</button> or <a class="btn" href="/aut/signup">Sign up</a>
      
    </form>
  </div>
</div>