<div class="row">
  <div class="span4 offset4">
    <form class="well" action="/aut/signup" method="post">
      
      <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Type the username you want">
      
      <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Type your password">
      
      <label for="checkpassword">Confirm password</label>
        <input type="password" name="checkpassword" id="checkpassword" placeholder="Re-type the password">
        
      <button class="btn" type="submit">Sign up</button>
      
    </form>
  </div>
</div>