<h2>Instantiate Itinerary</h2>
<form method="post" class="well">
	<fieldset>
		<label for="name">Name</label>
		<input type="text" id="name" name="name" placeholder="Name of the journey here">
		<label for="name">Start date (mm/dd/yyyy)</label>
		<input type="text" id="start" name="start" placeholder="Start date here">
		<label for="name">End date (mm/dd/yyyy)</label>
		<input type="text" id="end" name="end" placeholder="End date here">
	</fieldset>
	<button type="submit" class="btn">
		Instantiate
	</button>
</form>