<form action="/itinerary/providebasicinfo" method="post">
  <label for="name">Name</label>
    <input type="text" name="name" value="<%= @itinerary.name %>">
  <label for="category">Category</label>
    <input type="text" name="category" value="<%= @itinerary.category %>">
  <label for="description">Description</label>
    <textarea name="description"><%= @itinerary.description %></textarea>
  <div class="row">
    <button type="submit" class="btn">Save basic info</button>
  </div>
</form>