<div class="row">
  <div class="span12">
    <h2>Basic Info</h2>
    <a class="btn btn-primary" href="/itinerary/providebasicinfo">Edit</a>
    
    <dl class="dl-horizontal">
      <dt>Name</dt>
        <dd><%= @itinerary.name.nil? ? '&nbsp' : @itinerary.name %></dd>
      <dt>Category</dt>
        <dd><%= @itinerary.category.nil? ? '&nbsp' : @itinerary.category %></dd>
      <dt>Status</dt>
        <dd><%= @itinerary.status.to_s %></dd>
    </dl>
  
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Stays</h2>
    <a class="btn btn-primary" href="/search/stays">Add stay</a>
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start location</th>
          <th>End location</th>
          <th>Cost</th>
          <th>Commands</th>
        </tr>
      </thead>
      
      <tbody>
        <% @itinerary.stays.each do |stay| %>
        <tr>
          <td><%= stay.stay_template.name %></td>
          <td><%= stay.stay_template.start_location.name %></td>
          <td><%= stay.stay_template.end_location.name %></td>
          <td><%= stay.cost %></td>
          <td>
            <!-- WARNING: Come cambiamo l'offset delle activities? -->
            <a href="up"><i class="icon-circle-arrow-up"></i></a>
            <a href="down"><i class="icon-circle-arrow-down"></i></a>
            <!-- WARNING: Come cambiamo l'offset delle activities? -->
            <a class="btn btn-small btn-danger" href="/stay/delete/<%= stay.id %>">Delete</a>
            <% unless false && @itinerary.contiguous?(stay) %>
            <a class="btn btn-small btn-primary" href="/stay/addtranfert/<%= stay.id %>">Add transfer</a>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<a class="btn btn-warning" href="/itinerary/save">Save itinerary</a>